!!! 5
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'utf-8' }
    %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
    %meta{ :name => 'description', :content => "#{ current_page.data.description }" }
    %meta{ :name => 'author', :content => 'Dom Habersack, http://islovely.co/' }
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

    %title= current_page.data.title

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => "#{ current_page.url }assets/stylesheets/#{ current_page.data.name }.css" }

  %body
    = yield

    = partial 'partials/google-analytics'
