---
layout: demo
---

%head
  %meta{ :charset => 'utf-8' }
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }
  %meta{ :name => 'description', :content => 'Project website of Team Rotlech for the Software Development Lab at Ludwig-Maximilians-University (Munich, Germany) in 2012/13' }
  %meta{ :name => 'author', :content => 'Dominik Habersack, http://islovely.co/' }
  %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }

  %title Rotlech | Reversi Done Right

  %link{ :rel => 'stylesheet', :type => 'text/css', :href => "#{ current_page.url }assets/stylesheets/style.css" }

  %link{ :rel => 'shortcut icon', :href => 'assets/images/theme/favicon.ico' }

%body
  %header
    %h1= link_to 'Rotlech', '.'

    %nav
      %ol
        %li= link_to 'Download', '#hero'
        %li= link_to 'Introduction', '#introduction'
        %li= link_to 'Team', '#team'
        %li= link_to 'About this demo', '#about'

  %section#hero
    %div
      %section
        %h2 Reversimple

        %p
          Reversi is a board-game loved by dozens of people all over the world.
          If you like fun, you are going to love what we have in store for you.

        %h3 Stop playing with yourself.

        %p
          Our sails are set for the internet, and we are taking you with us!

        %p
          You can now play against strangers on the internet*, which makes
          playtime even more exciting.

        %form#download-client{ :action => '', :method => 'get' }
          %fieldset
            %div
              %button{ :type => 'submit' }
                Download happiness

              %p
                reversimple-1.0.jar (2.9 MB)<br>
                * Some of them might be creepy. Watch out for that.

        %h3 Overly Attached Reversi.

        %p
          You are never going to have to live without fun: download and run your
          own server to instantly un-suck any party without internet access** in
          your dark future.

        %form#download-server{ :action => '', :method => 'get' }
          %fieldset
            %div
              %button{ :type => 'submit' }
                Server a purpose

              %p
                reversimple-server-1.0.jar (2.9 MB)<br>
                ** Ain't nobody got time for that.

      %img{ :src => "#{ current_page.url }assets/images/theme/hero.jpg", :alt => 'Screenshot of Reversimple in action.' }

  %section#introduction
    %h3 A Plethora of Awesome.

    %p
      The following are just a few of countless reasons why Reversimple is the
      absolute best way to experience reversi. To learn about the other ones you
      should download the game and find out for yourself.

    %ul
      %li
        %h4 T minus zero.

        %p
          We keep the learning curve so low, you do not need to know a single
          thing about Reversi before diving in. Forget boring rulebooks. Fuck
          the police.

        %p
          The application is set up to teach you what you need to know when you
          need to know it and not a second sooner.
      %li
        %h4 Unobtrusive.

        %p
          Playing games should not be confusing. We took away all the
          complicated "features" and cruft that make up many of today's games
          and found pure, disk-shaped happiness.

        %p
          Reversimple gets out of your face to allow you to relax, enjoy
          yourself and let the world fade away.
      %li
        %h4 Support-Mode.

        %p
          Our built-in help system is like having your very own number cruncher
          with you at all times: not only does it display all available moves,
          it also shows their effectiveness in terms of earning points.

        %p
          Never again will your score have to suffer because you did not notice
          <em>that one move</em>.
      %li
        %h4 Peopleware.

        %p
          Compete against players all over the world and see how good you really
          are. Show the internet that you have what it takes to be a champion.

        %p
          And this isn't even our final form. There are many exciting updates
          coming that are going to improve your online experience manyfold.
      %li
        %h4 Challenging.

        %p
          Artificial intelligence is another big feature coming in the next
          weeks. You may know how to beat John in the next cubicle, but do you
          stand a chance against our new machine overlords?

        %p
          Practice on several difficulty levels to become an unbeatable
          reversi-master. Show those robots how superior the human brain is!
      %li
        %h4 Terribly nice.

        %p
          Bland applications are a dime a dozen, but you are not a machine and
          should not be treated as one. We offer a refreshing approach to an old
          game that makes you feel welcome.

        %p
          Think of Reversimple and everybody on our team as your new best
          friends. Let us all have fun together, because enjoyment is what this
          is all about.
      %li
        %h4 An open book.

        %p
          Spreading the word about Reversi is more important than being
          secretive, so we put all our cards on the table: our internal API is
          available to everybody who wants to see how the sausage is made.

        %p
          Find inspiration for your own implementation by reading about the
          architecture behind Reversimple in our documentation.
      %li
        %h4 It gets better.

        %p
          Nothing is set in stone. We are not standing still before we can
          provide the absolute best way to play reversi, even if it means
          rethinking everything all over again on a regular basis.

        %p
          We want to spread the love and share our excitement for the game, so
          we will provide you with many an update along the way. Stay with us
          and have your mind blown over and over again.

  %section#team
    %div
      %h3 Think <em>The Seven Dwarfs</em>, but bigger.

      %p
        Meet the seven wonders that make Rotlech amazing: it may not be wise
        trust us with your kids, but damn do we know how to Reversi.

      %ul
        - ['User interface', 'User Interface', 'Web', 'Internet Services', 'Data Modelling', 'Data Modelling', 'Artificial Intelligence'].each do |responsibility|
          %li
            %img{ :src => "#{ current_page.url }assets/images/theme/dom.jpg", :alt => 'Dom Habersack' }
            %header
              %h4 Dom Habersack

              %p= responsibility

  %section#about
    %h3 About this demo

    %p
      Cool stuff and things.

  %footer
    %div
      %p
        &copy; 2013 Rotlech. All rights reserved.<br>
        We <span class="icon-heart">&hearts;</span> you!

      %p
        Entypo pictograms by Daniel Bruce &mdash; <a href="http://www.entypo.com">entypo.com</a>
