<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title><%= current_page.data.feed.title %></title>
    <description><%= current_page.data.feed.description %></description>
    <link><%= current_page.data.feed.url %></link>
    <lastBuildDate><%= Time.now.strftime('%a, %d %b %Y %T %z') %></lastBuildDate>
    <pubDate>Mon, 25 Mar 2013 09:45:00 +0100</pubDate>
    <ttl>1800</ttl>

    <%= yield %>
  </channel>
</rss>
